ion-content {
  --background: #ffffff;
}

ion-list {
  background: #ffffff;
}

ion-list-header {
  --color: var(--ion-color-primary);
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}
ion-item-divider {
  background-color: #ffffff;
  --inner-border-width: 0;
  --border-width: 0;
  border: none;
  background: transparent;
}

.custom-item {
  --background: #cbcbcb;
  --color: #515151;
  --border-radius: 12px;
  --padding-start: 16px;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  --highlight-height: 0;
  --inner-border-width: 0;
  --border-width: 0;

  &::part(native) {
    border: none;
  }
}

.cep-highlight {
  border: 1px solid var(--ion-color-primary-shade);
  --background: #cbcbcb;
}

.btn-finalizar {
  margin-top: 32px;
  height: 54px;
  --border-radius: 14px;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 4px 12px rgba(var(--ion-color-success-rgb), 0.3);
}

ion-toggle {
  --handle-spacing: 4px;
}
